<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>
  <p>welcome <%= name %>, your email <%= email %> was verifed successfuly, now you can go and log in to your account</p>
</body>
</html>